body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#li{
    list-style: none;
    height: 100px;
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    background-color: bisque;
    
}